<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Translation App</title>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <ul class="controls">
        <li class="row from">
          <select></select>
        </li>
        <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
        <li class="row to">
          <select onchange="translateHook()"></select>
        </li>
      </ul>
      <div class="text-input">
        <textarea spellcheck="false" oninput="translateHook()" onchange="translateHook()" class="from-text" placeholder="Enter text"></textarea>
        <textarea id="toText" spellcheck="false" readonly disabled class="to-text" placeholder="Translation"></textarea>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/countries.js"></script>
  <script src="js/script.js"></script>
</body>
 
</html>